{% extends 'basic.html' %}
{% block content %}

    {% load static %}

    <link href="{% static 'css/registration.css' %}" rel="stylesheet">
    <title>Password Reset</title>
    <div class="body">
        <div class="d-flex justify-content-center">
            <div class="container pt-5">
                <div class="text-center">
                    <div class="icon">
                        <svg style="margin: 25%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                            <path fill="#4db2ff"
                                  d="M128 96l0 64 128 0 0-64c0-35.3-28.7-64-64-64s-64 28.7-64 64zM64 160l0-64C64 25.3 121.3-32 192-32S320 25.3 320 96l0 64c35.3 0 64 28.7 64 64l0 224c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 224c0-35.3 28.7-64 64-64z"/>
                        </svg>
                    </div>
                    <h1><strong>Password reset sent</strong></h1>
                    <p class=" text-secondary">We’ve emailed you instructions for setting your password, if an account
                        exists with the email you entered. You should receive them shortly.

                        If you don’t receive an email, please make sure you’ve entered the address you registered with,
                        and
                        check your spam folder.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}