{% extends 'basic.html' %}
{% block content %}
    {% load static %}

    <link href="{% static 'css/registration.css' %}" rel="stylesheet">
    <title>Password Change</title>
    <div class="body">
        <div class="d-flex justify-content-center">
            <div class="container pt-5">
                <div class="text-center">
                    <div class="icon">
                        <svg style="margin: 25%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                            <path fill="#4db2ff"
                                  d="M128 96l0 64 128 0 0-64c0-35.3-28.7-64-64-64s-64 28.7-64 64zM64 160l0-64C64 25.3 121.3-32 192-32S320 25.3 320 96l0 64c35.3 0 64 28.7 64 64l0 224c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 224c0-35.3 28.7-64 64-64z"/>
                        </svg>
                    </div>
                    <h1><strong>Password Change</strong></h1>
                    <p class=" text-secondary">Please enter your old password, for security’s sake, and then enter your
                        new
                        password twice so we can verify you typed it in correctly.</p>
                </div>
                <form method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <div>
                        <button class="btn btn-primary">
                            <svg style="width: 20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="#fff"
                                      d="M345 273c9.4-9.4 9.4-24.6 0-33.9L201 95c-6.9-6.9-17.2-8.9-26.2-5.2S160 102.3 160 112l0 80-112 0c-26.5 0-48 21.5-48 48l0 32c0 26.5 21.5 48 48 48l112 0 0 80c0 9.7 5.8 18.5 14.8 22.2s19.3 1.7 26.2-5.2L345 273zm7 143c-17.7 0-32 14.3-32 32s14.3 32 32 32l64 0c53 0 96-43 96-96l0-256c0-53-43-96-96-96l-64 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l64 0c17.7 0 32 14.3 32 32l0 256c0 17.7-14.3 32-32 32l-64 0z"/>
                            </svg>
                            Change my password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.querySelectorAll("form div input").forEach(r => r.classList.add("form-control"))
    </script>

{% endblock %}